@import url(./section/section.css);
@import url(./side/aside.css);
main{
    
   
}
@media (max-width: 780px) {
   
    
}
@media (max-width: 480px) {
    
    
}

.section-news{
    padding-top: 100px;

    .news-desc{
        text-align: center;

        p{
            width: 581px;
            margin: 0 auto;
            padding-top: 20px;
        }
    }

    h2{
        font-size: 43px;
        font-weight: 500;
        line-height: 60px;
        text-align: center;
    }
}

.news-all{
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-top: 30px;
    line-height: 160%; /* 28.8px */
    p{
        opacity: 0.6;

    }

}
.news-left{
    p{
        width: 470px;
        padding-top: 20px;
        padding-bottom: 20px;

    }
}

.news-right{
    display: flex;
    gap: 23px;
    padding: 20px 20px;
}