nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    h1{
        color: #fff;
        font-size: 32px;
        letter-spacing: 1px;
    }
    ul{
        display: flex;
        align-items: center;
        gap: 20px;
        a{
            color: #fff;
            font-size: 20px;
        }
    }
    .nav_menu{
        display: none;
    }
    
}
@media (max-width: 900px) {
    nav{
        ul{
            display: none;
        }
        .nav_menu{
            display: block;
            color: #fff;
            font-size: 25px;
        }
    }
    
}